body {
    width: 90%; margin: auto;
}
p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700;
}
button {
margin-left: 30px;
}
nav {
    margin-top: 30px;
}

#product_form {
    width: 90%;
}
.input-group {
    margin-top: 20px;
}

.form-control{
    margin-right: 20px; max-width: 25%;
}
.input-group-text {
    min-width: 7%;
}
.form-select{
    max-width: 65%;
}
.ftr{
    margin-top:20%;
}
#productType{
    width: 32%;
}
.bottom_text{
    text-align: center;
}
#card{
  display: inline-block;  border: solid 1px black; width: 20%; text-align: center; margin-inline: 20px; margin-bottom: 20px;
}
.delete-checkbox{
float: left; margin-left: 1%; margin-top: 1%;
}
#DVDMB{
   opacity:0;
   z-index: auto; position: absolute;
}
#FurnitureDimensions{
   opacity:0;
   z-index: auto; position: absolute;
}
#BookWeight{
    opacity:0;
    z-index: auto; position: absolute;
}